<div [class]="'background-top ' + app?.headerClass">
  <ng-particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></ng-particles>
</div>

<div class="pokedex-container">
  <div class="pokedex-menu">
    <h1>Pokedex Alfred®</h1>
    <div class="menu-itens">
      <button class="grass" [routerLink]="['pokemons']">
        Pokemons
      </button>

      <button class="water" [routerLink]="['movies']">
        Filmes
      </button>

      <button class="electric" [routerLink]="['ability']">
        Habilidades
      </button>

      <button class="fire" [routerLink]="['itens']">
        Itens
      </button>

      <button class="poison" [routerLink]="['types']">
        Tipos
      </button>

      <button class="rock" [routerLink]="['berries']">
        Berries
      </button>
    </div>
  </div>

  <div class="pokedex-content">
    <header class="title-header">
      <div class="divider"></div>
      <h1>{{app?.title}}</h1>
    </header>

    <router-outlet></router-outlet>
  </div>
</div>