<div [class]="'background-top ' + app?.headerClass">
  <ng-particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></ng-particles>
</div>

<div class="pokedex-container">
  <div 
    class="pokedex-menu"
    [ngClass]="{'menu-closed': !menuState}"
  >
    <h1>Pokedex Alfred®</h1>
    <div class="menu-itens">
      <button class="grass" (click)="toggleMenu()" [routerLink]="['pokemons']">
        Pokemons
      </button>

      <button class="water" (click)="toggleMenu()" [routerLink]="['movies']">
        Filmes
      </button>

      <button class="electric" (click)="toggleMenu()" [routerLink]="['ability']">
        Habilidades
      </button>

      <button class="fire" (click)="toggleMenu()" [routerLink]="['itens']">
        Itens
      </button>

      <button class="poison" (click)="toggleMenu()" [routerLink]="['types']">
        Tipos
      </button>

      <button class="rock" (click)="toggleMenu()" [routerLink]="['berries']">
        Berries
      </button>
    </div>
  </div>
<!-- <div [ngSwitch]="conditionExpression">
  <div *ngSwitchCase="expression">output</div>
  <div *ngSwitchDefault>output2</div>
</div> -->
  <div class="pokedex-content">
    <button 
      class="menu-button" 
      (click)="toggleMenu()" 
      [ngSwitch]="!!menuState"
    >
      <i class="material-icons" *ngSwitchCase="false">
        menu
      </i>
      <i class="material-icons" *ngSwitchCase="true">
        arrow_back
      </i>
    </button>
    <header class="title-header">
      <div class="divider"></div>
      <h1>{{app?.title}}</h1>
    </header>

    <router-outlet></router-outlet>
  </div>
</div>