@import "./core/theme/theme.scss";

.background-top {
  height: 33%;
  position: absolute;
  width: 100vw;
  overflow: hidden;
}

.default {
  background-color: white;
}

.pokedex-container {
  background: white;
  border-radius: 20px;
  @include raized;
  display: flex;
  flex-direction: row;
  height: calc(100% - 40px);
  left: 50%;
  max-width: 1180px;
  max-height: 620px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 100%;

  .pokedex-menu {
    border-right: 1px solid #d8d8d8;
    max-width: 300px;
    padding: 18px 30px;
    width: 100%;

    h1 {
      color: #707070;
      font-size: 36px;
      font-weight: 400;
      text-align: center;
    }

    .menu-itens {
      display: flex;
      flex-wrap: wrap;
      height: 208px;
      margin-top: 50%;
      justify-content: space-between;

      button {
        width: 44%;
        @include raized;
      }

      button:hover {
        @include raized-mediun;
      }

      button:active {
        @include raized-hard;
      }
    }
  }
}

.pokedex-content {
  width: 100%;
  box-sizing: border-box;
  padding: 18px;
  position: relative;
  overflow: auto;
}

.title-header {
  display: flex;

  h1 {
    font-size: 28px;
    font-weight: 400;
    color: #5b5b5b;
    white-space: nowrap;
  }
}

.divider {
  width: 100%;
  margin: auto 20px auto auto;
  height: 1px;
  background-color: #c1c1c1;
}

button.menu-button { 
  display: none;
  z-index: 2;
  position: absolute;
  background-color: transparent;
  border-radius: 50px;
  min-width: 40px;
  padding: 0; 
  top: 0;
  left: 0;
  color: #707070;
}

@media (max-width: 1000px) {
  button.menu-button { display: block; }
  .pokedex-container {
    border-radius: 0 20px 20px 0;
  }

  .pokedex-menu {
    position: absolute;
    z-index: 1;
    background: white;
    overflow: hidden;
    height: calc(100% - 35px);
    transition: 300ms transform cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  .menu-closed {
    transform: translate(-100%, 0);
  }
}