@import "../../../core/theme/variables.scss";

.data {
  color: white;
  text-transform: Capitalize;
  display: flex;

  div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .grass {
    background: $grass-type;
  }

  .water {
    background: $water-type;
  }

  .poison {
    background: $poison-type;
  }

  .fire {
    background: $fire-type;
  }

  .electric {
    background: $electric-type;
  }

  .rock {
    background: $rock-type;
  }

  .flying {
    background: $flying-type;
  }

  .normal {
    background: $normal-type;
  }

  .bug {
    background: $bug-type;
  }

  .ground {
    background: $ground-type;
  }

  .fairy {
    background: $fairy-type;
  }

  .fighting {
    background: $fighting-type;
  }

  .psychic {
    background: $psychic-type;
  }

  .ghost {
    background: $ghost-type;
  }

  .ice {
    background: $ice-type;
  }

  .dragon {
    background: $dragon-type;
  }

  .dark {
    background: $dark-type;
  }

  .steel {
    background: $steel-type;
  }
}

.chip {
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  padding: 8px 0;
  width: 84px;
  margin-bottom: 4px;
}

.name {
    text-transform: capitalize;
    font-size: 24px;
}
