$electric: #FDD835;
$electric-type: #F6C900;

$fire: #FF5722;
$fire-type: #FF3D00;

$grass: #17D5A6;
$grass-type: #15B48D; 

$poison: #8E24AA;
$poison-type: #cd3af3;

$rock: #795548;
$rock-type: #8D5C4A;

$water: #03A9F4;
$water-type: #42BCF3;

$flying: #237db1;
$flying-type: #48b5f3;

$normal: #a58700;
$normal-type: #d1aa00;

$bug: #00a84f;
$bug-type: #0ccc66;

$ground: #d1aa00;
$ground-type: #ffd000;

$fairy: #da4c8e;
$fairy-type: #e7237e;

$fighting: #cc3000;
$fighting-type: #ff501b;

$psychic: #ca1da5;
$psychic-type: #ff00c8;

$ghost: #540057;
$ghost-type: #920097;

$ice: #0857cc;
$ice-type: #276acf;

$dragon: #27a8cf;
$dragon-type: #3bd1ff;

$dark: #020750;
$dark-type: #010433;

$steel: #9cc8ce;
$steel-type: #70888b;