@import "./app/core/theme/variables.scss";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mini-card {
  display: flex;
  width: 30%;
  margin-top: 16px;
  color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.16);

  .grass {
    background: $grass;
  }

  .water {
    background: $water;
  }

  .poison {
    background: $poison;
  }

  .fire {
    background: $fire;
  }

  .electric {
    background: $electric;
  }

  .rock {
    background: $rock;
  }

  .flying {
    background: $flying;
  }

  .normal {
    background: $normal;
  }

  .bug {
    background: $bug;
  }

  .ground {
    background: $ground;
  }

  .fairy {
    background: $fairy;
  }

  .fighting {
    background: $fighting;
  }

  .psychic {
    background: $psychic;
  }

  .ghost {
    background: $ghost;
  }

  .ice {
    background: $ice;
  }

  .dragon {
    background: $dragon;
  }

  .dark {
    background: $dark;
  }

  .steel {
    background: $steel;
  }
}

.mini-card > div:first-of-type {
  padding: 8px;
  width: 100%;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loading 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%; 
}

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) rotate(720deg) scale(1);
  }
}


@media (max-width: 700px) {
  .mini-card {
    width: 48%;
  }
}